.chart-wrapper {
	// display: flex;
	display: none;
	width: calc(100vw - 40px);
	max-width: 1200px;
	height: 100vh;
	margin: auto;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.bar-chart {
	width: 100%;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);

	.figcaption {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 30px;
		font-size: 36px;

		.person {
			display: flex;
			flex-direction: column;
			width: 10%;
			text-align: right;
			line-height: 0.8;
			font-size: 0.4em;
		}

		.result {
			display: flex;
			width: calc(90% - 10px);

			&__score {
				flex-shrink: 0;

				&-total {
					display: inline-block;
					transition:
						opacity 0.4s ease-in,
						transform 0.4s ease-in;
				}
			}

			&__arrow {
				position: relative;
				display: inline-block;
				// width: 60px;
				flex-basis: 60%;
				flex-shrink: 1;
				height: 1em;
				margin: 0 26px 0 16px;
				transition:
						opacity 0.4s ease-in 0.2s,
						transform 0.4s ease-in 0.2s;

				&::before {
					position: absolute;
					content: "";
					width: 100%;
					height: 2px;
					background-color: #000;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
				}

				&::after {
					position: absolute;
					content: "";
					border: 8px solid transparent;
					border-left-color: #000;
					top: 50%;
					left: 100%;
					transform: translateY(-50%);
				}
			}

			&__level {
				flex-shrink: 0;
				transition:
					opacity 0.4s ease-in 0.3s,
					transform 0.4s ease-in 0.3s;
			}

			&--hidden {
				.result__level,
				.result__arrow,
				.result__score-total {
					opacity: 0;
					transform: translateX(-5px);
				}
			}
		}
	}

	&__wrapper {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		height: 400px;
	}

	&__legend {
		display: flex;
		flex-direction: column-reverse;
		width: 10%;
		height: 100%;
		justify-content: space-between;

		&-label {
			display: inline-block;
			white-space: nowrap;
			color: #ccc;
			text-align: right;

			strong {
				color: #000;
			}
		}
	}

	&__columns {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		width: calc(90% - 10px);
		height: 100%;
	}

	&__column {
		$animation-delay: 100ms;

		position: relative;
		width: 33%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 10px;
		box-sizing: border-box;
		transition: all 0.4s ease-in $animation-delay;
		opacity: 1;

		span {
			display: block;
			color: #ffffff;
		}

		&-result {
			transition:
				opacity 0.2s ease-in $animation-delay + 600,
				transform 0.2s ease-in $animation-delay + 600;
			text-align: right;
			margin-bottom: auto;
		}

		&-quote {
			transition:
				opacity 0.2s ease-in $animation-delay + 500,
				transform 0.2s ease-in $animation-delay + 500;
			font-size: 14px;
			opacity: 0.8;
			font-weight: 100;
		}

		&-label {
			transition:
				opacity 0.2s ease-in $animation-delay + 400,
				transform 0.2s ease-in $animation-delay + 400;
			margin-top: 10px;
		}

		&::before {
			position: absolute;
			content: "";
			background-color: inherit;
			width: 100%;
			height: 400px;
			opacity: 0.1;
			left: 0;
			bottom: 0;
		}

		&--hidden {
			height: 0 !important;
			opacity: 0;

			.bar-chart__column-result,
			.bar-chart__column-quote,
			.bar-chart__column-label {
				opacity: 0;
				transform: translateY(5px);
			}
		}
	}
}

@media screen and (max-width: 1055px) {
	.bar-chart {
		&__legend,
		.figcaption .person{
			width: 15%;
			padding-right: 6px;
		}

		&__columns
		.figcaption .result {
			width: calc(85% - 10px);
		}
	}
}

@media screen and (max-width: 740px) {
	.bar-chart {
		&__legend-label {
			display: flex;
			flex-direction: column;
			position: relative;

			&::before {
				position: absolute;
				content: '';
				width: 40px;
				background-color: rgb(39, 39, 39);
				height: 1px;
				top: 50%;
				right: -10px;
				transform: translateY(-50%);
			}
		}

		&__columns {
			width: calc(85% - 10px);
		}

		&__column-quote {
			display: none !important;
		}
	}
}

@media screen and (max-width: 512px) {
	.bar-chart {
		.figcaption {
			margin-bottom: 16px;
			font-size: 26px;
		}
	}
}

@media screen and (max-width: 400px) {
	.bar-chart {
		.figcaption {
    		flex-direction: column-reverse;
			align-items: flex-start;

			.result {
				width: 100%;
			}

			.person {
				font-size: 0.6em;
				flex-direction: row;
				width: 100%;

				&__name {
					padding-right: 6px;
				}
			}
		}

		&__legend-label strong {
			font-size: 0.8em;
		}
	}
}
